.footer {
    background-color: var(--color-primary);
}

.footer .footer-information {
    max-width: var(--margin-limit);
    margin: 0 auto;
    color: white;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
}

.footer .rights {
    font-size: 20px;
}

.footer .social-links ul {
    display: flex;
}

.footer .social-links ul li {
    margin: 0 15px;
}

.footer .social-links img {
    width: 30px;
}

@media (max-width: 480px) {
    .footer .footer-information {
        flex-direction: column;
        align-items: center;
    }

    .footer .footer-information .rights {
        margin-bottom: 20px;
        text-align: center;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .footer .footer-information {
        flex-direction: column;
        align-items: center;
    }

    .footer .footer-information .rights {
        margin-bottom: 20px;
        text-align: center;
    }
}